h1 {
  color: green;
  text-align: center;
};

button {
  margin-top: 20px;
  width: 200px;
  display: block;
  margin: 0 auto;
}

.note_input_form {
  display: inline;
  margin: 0 auto;
}
.box {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.input {
  margin-right: 20px;
  box-shadow: 2px 2px 10px 2px #888888
}

.error {
  border: 3px solid red;
  margin-right: 20px;
}

